*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: 'Open Sans serif' ;
    
}

.Header{
    padding: 15px;
}

.page{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid; */
    /* padding: 25px; */
    background-color: yellow;
    font-family: 'Open Sans', sans-serif;
     padding: 5px;

}

.menu-icon{
    width: 30px;

}


.logo{
    width: 60px;
    padding-left: 10px;
}


.tinubu{
    width: 100%;
}

.text{
    margin-bottom: 10px;
    margin-top: 10px;
}
.Minimum-text{
    line-height: 30px;
    padding-top: 20px;
}

.President-content{
    font-family: Helvetica, Arial, sans-serif;
    margin-top: 25px;
    line-height: 23px;
    color: rgb(120, 117, 117);
}


.image1{
    /* display: flex; */
    /* justify-content: center; */
    /* padding-top: 30px; */
    /* gap: 5px; */
    /* border: 1px solid; */
}

.first-img{
    width: 100%;
    /* height: 400px; */
}
.carkey{
    background-image: url('./images/staff\(Yussuf\ Grey\).jpg');
    background-repeat: no-repeat;
    height: 400px;
    background-size: cover;
    margin-top: 45px;
}


.staff-standing{
    background-image: url('./images/staff\(Yussuf\ Grey\).jpg');
    background-repeat: no-repeat;
    height: 400px;
    background-size: cover;
    margin-top: 45px;
}

.content{
    padding-top: 10px;
}

.appreciate{
    background-image: url('./images/STAFF.jpg');
    background-repeat: no-repeat;
    height: 400px;
    background-size: cover;
    margin-top: 45px;
}

.staff-appreciation{
    background-image: url('./images/STAFF.jpg');
    background-repeat: no-repeat;
    height: 400px;
    background-size: cover;
    margin-top: 45px;
}
@media screen and (min-width:600px){
    .tinubu{
        width: 400px;
    }
    .heading{
        display: flex;
        flex-direction: row;
        padding: 10px;
    }
    
    .main{
        padding-left: 10px;
    }

    .democracy{
        display: flex;
        gap: 35px;
    }

    .page{
        padding: 20px;
    }

    .logo{
        width: 100px;
    }

    .show{
        /* display: flex; */
    }
}