*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(0, 0, 0);
    font-family: 'Open Sans serif' ;
    font-size: 15px;
    width: 100%;
    
}
img{
    max-inline-size: 100%;
}
.whole-container{
    width: 100%;
}

.Header{
    padding: 15px;
}

.page{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    background-color: yellow;
    font-family: 'Open Sans', sans-serif;
     padding: 5px;

}

.menu-icon{
    width: 30px;

}


.logo{
    width: 60px;
    padding-left: 10px;
}

.live{
    margin-top: 10px;
    text-decoration: none;
    
}

.menu{
    display: flex;
    gap: 10px;
}
.button{
    background-color: red;
    border: none;
    margin-left: 0px;

}

.tinubu{
    width: 100%;
}

.text{
    margin-bottom: 10px;
    margin-top: 10px;
}
.Minimum-text{
    line-height: 30px;
    padding-top: 20px;
}

.President-content{
    font-family: Helvetica, Arial, sans-serif;
    margin-top: 25px;
    line-height: 23px;
    color: rgb(120, 117, 117);
}


.image1{
    /* display: flex; */
    /* justify-content: center; */
    /* padding-top: 30px; */
    /* gap: 5px; */
    /* border: 1px solid; */
}

.first-img{
    width: 100%;
    /* height: 400px; */
}
.carkey{
    background-image: url('./images/staff\(Yussuf\ Grey\).jpg');
    background-repeat: no-repeat;
    height: 400px;
    background-size: cover;
    margin-top: 45px;
}


.staff-standing{
    background-image: url('./images/staff\(Yussuf\ Grey\).jpg');
    background-repeat: no-repeat;
    height: 400px;
    background-size: cover;
    margin-top: 45px;
}

.content{
    padding-top: 10px;
}

.appreciate{
    background-image: url('./images/STAFF.jpg');
    background-repeat: no-repeat;
    height: 400px;
    background-size: cover;
    margin-top: 45px;
}

.staff-appreciation{
    background-image: url('./images/STAFF.jpg');
    background-repeat: no-repeat;
    height: 500px;
    background-size: cover;
    margin-top: 45px;
}

.showing{
    /* background-color: aqua; */
    /* display: flex; */
}
.staff-frame{
    background-image: url('./images/STAFF.jpg');
    background-repeat: no-repeat;
    height: 500px;
    background-size: cover;
    margin-top: 45px;
}

.footer{
    background-color: gold;
}

.footer-content{
    display: flex;
    /* justify-content: center; */
    margin-inline: 100px;
    padding: 30px;
    gap: 50px;
}

.top{
    color: yellow;
    padding-bottom: 10px;
    
}

li{
   text-decoration: none;
   font-size: 12px;
   font-family:sans-serif;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-column-gap: 1rem;
   
}

li:hover{
    color: white;
    cursor: pointer;
}
.line{
    border: 1px solid rgb(237, 234, 234);
    width: 100%;
    margin-left: 100px;
    /* margin-block: 100px; */
    /* padding-top: 20px; */
        /* height: 10px; */
}




.iconify{
    /* display: flex; */
}
.footer-logo{
    width: 50px;
    height: 50px;
    margin-inline: 100px;
    margin-top: 20px;
    /* padding-top: 20px; */
    /* margin-block: 50px; */
}

.facebook{
    color: white;
    margin-left: auto;
}
.instagram{
    color: white;
}
.twitter{
    color: white;
    
}
.youtube{
    color: white;
   
}
.tiktok{
    color: white;
}
.footer-icon{
    display: flex;
    margin-left: auto;
    width: 20px;
    gap: 15px;
}

@media screen and (min-width:600px){
    .tinubu{
        width: 400px;
    }
    .main-heading{
        display: flex;
        flex-direction: row;
        padding: 10px;
    }

    .heading{
        display: flex;
        gap: 10px;
    }
    
    .main{
        padding-left: 10px;
    }

    /* .democracy{
        display: flex;
        gap: 35px;
    } */

    .page{
        padding: 20px;
    }

    .logo{
        width: 100px;
    }

    .showing{
        display: flex;
        gap: 10px;
        /* background-image: cover; */
        /* margin-top: 100px; */
    }
}